@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
.contactus_container_super{
    width: 100%;
    height: calc(100vh - 65px - 30px - 3px - 20px);
    overflow: scroll;
    /* background-color: white; */
    margin-top: calc(40vh - (100vh - 65px - 30px - 3px - 20px)/2);
}
.contactus_container_super *::-webkit-scrollbar, .contactus_container_super::-webkit-scrollbar{
display: none;
}
#contactus_container{
    width: 90%;
    margin-left: 5%;
    display: flex;
    height: 100%;
}
#contactus_container > div{
    width: 100%;
    border-style: solid;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.305);
    backdrop-filter: blur(7px);
}
#contactus_child_1{
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
#contactus_child_1 > div:nth-child(1){
    padding: 0 15vw;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: -1px;
    color: rgb(37, 37, 37);
}
#contactus_child_1 > div:nth-child(2){
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
#contactus_child_1 > div:nth-child(2) > a > img{
    height: 25px;
    width: 25px;
}
#contactus_child_2 > form > fieldset{
    border: 1px solid #2d2c2c;
    border-radius: 8px;
    overflow: scroll;
    width: 100%;
    padding: 20px 3vw 10px 3vw;
    margin-bottom: 25px;
    display: flex;
    column-gap: 3vw;
}
#contactus_child_2 > form > fieldset > input{
    width: 50%;
    border-style: none none solid none;
    outline: none;
    padding: 5px;
    background-color: transparent;
    color: white;
}
#contactus_child_2 > form > fieldset > input:invalid{
    border-color: red;
    color: red;
}
#contactus_child_2 > form > fieldset > input:valid{
    border-color: green;
    color: white;
}
#contactus_child_2 > form > fieldset > textarea{
    width: 100%;
    background-color: transparent;
}
#contactus_child_2 > form > button{
    padding: 5px 10px;
    border-style: solid;
    border-radius: 5px 10px ;
    /* background-color: white; */
    transition-duration: 0.5s;
}
#contactus_child_2 > form > button[type="submit"]{
    border-color:rgb(167, 167, 167); 
    color: rgb(167, 167, 167);
    background-color: black !important;
}
#contactus_child_2 > form > button[type="submit"]:hover{
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}
#contactus_child_2 > form > button[type="reset"]{
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}
#contactus_child_2 > form > button[type="reset"]:hover{
    border-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255) ;
}
@media only screen and (max-width: 767.9999px) {
    /* For mobile phones: */
    #contactus_container{
        flex-direction: column;
        padding: 10px;
    }
    #contactus_child_1{
        border-width: 1px 1px 0 1px;
        border-radius: 5px 5px 0 0;
    }
    #contactus_child_2{
        border-width: 0 1px 1px 1px;
        border-radius: 0 0 5px 5px;
    }
}
@media only screen and (min-width: 768.0001px) {
    /* For laptops: */
    #contactus_container{
        flex-direction: row;
        padding: 50px;
    }
    #contactus_child_1{
        border-width: 1px 0 1px 1px;
        border-radius: 5px 0 0 5px;
    }
    #contactus_child_2{
        border-width: 1px 1px 1px 0;
        border-radius: 0 5px 5px 0;
    }
    #contactus_child_1 > div:nth-child(1){
        padding: 0 10vw;
        font-size: 30px;
    }
}