.nevbar {
    background-color: rgba(255, 255, 255, 0.493);
    position: fixed;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    padding: 5px;
    background-color: #e0e0e0;
    z-index: 10000;
    /* box-shadow: 8px 8px 15px #b0b0b0, -8px -8px 15px #ffffff, 0 0 2px gray; */
}

.nevbar>div {
    --dimention: 50px;
    height: var(--dimention);
    width: var(--dimention);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition-duration: 0.2s;
}

.nevbar>div:hover {
    transform: translateY(-25px) scale(1.5);
    border: solid 4px white;
    background-color: #e0e0e0;
    color: red;
}

.nevbar>div>a>i {
    font-size: 150%;
    color: black;
}
.nevbar>div>a>i:hover{
    color: red;
}
@media only screen and (max-width: 600px) {

    /* For tablets: */
    .nevbar {
        width: 100%;
        bottom: 0;
        left: 0;
    }
}

@media only screen and (min-width: 600px) {

    /* For desktop: */
    .nevbar {
        width: 600px;
        bottom: 50px;
        left: calc(50% - 300px);
        border-radius: 500px;
    }
}